* {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

h1 {
	text-align: center;
	margin-top: 20px;
}

.super-store-item {
	width: 450px;
	height: 500px;
	float: left;
	margin-left: 160px;
	margin-top: 30px;
	font-size: 20px;
}

button {
	width: 120px;
	background: #eee;
	color: #088;
	text-decoration: none;
	text-align: center;
	margin: 20px auto;
	padding: 10px 10px;
	transition: all 0.3s;
	border-radius: 10px;
	font-weight: 900;
	font-size: 18px;
}

button:hover {
	box-shadow: 0px -6px 0 #088 inset;
}

.logo {
	width: 200px;
	height: 100px;
}

.header {
	display: flex;
	flex-direction: column;
	align-items: center;
}