*{
	text-align:center;
	font-family: Arial;
}

.field {
	margin: 0 auto;
	width:600px;
	height:600px;
	background:gray;
	border: 1px solid black;
 }
 
 td{
	 width:120px;
	 height:120px;
	 background: #e7aeae;
	 text-align:center;
	 font-size: 50px;
	 border-radius: 13px;
	 border: 1px solid black;
	 cursor: grab;
	 transition: 500ms;
	}
td:hover {
	filter: brightness(120%);
}

.empty {
	border: none;
	background: inherit;
	cursor: unset;
}

	
.start-button {
	padding: 25px 45px;
	margin:  70px;
	border-radius: 15px;
	background: #f19b31;
	border: none;
	color: #6a0b0b;
	font-size: 28px;
 transition: 500ms;
}

.start-button:hover {
   filter: brightness(120%);
}
